$tooltip-bg: #2271b1;
$wp-blue:#2271b1;
body {
  text-align: center;
  font-size: 120%;
  background-color: #eee;
}


.tooltip-inner {
  background-color: $tooltip-bg!important;
  font-size: .9rem!important;
  padding: .5rem!important;
}

.bs-tooltip-end .tooltip-arrow::before, .bs-tooltip-auto[data-popper-placement^=right] .tooltip-arrow::before {
  border-right-color: $tooltip-bg !important;
}

.bs-tooltip-start .tooltip-arrow::before, .bs-tooltip-auto[data-popper-placement^=left] .tooltip-arrow::before {
  border-left-color: $tooltip-bg !important;
}

.bs-tooltip-bottom .tooltip-arrow::before, .bs-tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow::before {
  border-bottom-color: $tooltip-bg !important;
}

.bs-tooltip-top .tooltip-arrow::before, .bs-tooltip-auto[data-popper-placement^=top] .tooltip-arrow::before {
  border-top-color: $tooltip-bg !important;
}

.api-edit-select{
  //border: 1px solid #74b3e50e;
  position: relative;
  &:before {
    font-family: FontAwesome;
    content: '\f044';
    display: block;
    position: absolute;
    width: 1rem;
    height: 1rem;
    top: -.75rem;
    font-size: 13px!important;
    cursor: pointer;
    color: $wp-blue!important;
    font-weight: normal!important;
    font-style: normal!important;
  }
}

.jumbotron {
  background-color: #fff;
}

.card-title {
  font-weight: bold;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 5px;
}

.example {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
}

.custom-class input, button {
  margin-right: 10px;
}

.custom-class input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.trigger:hover {
  cursor: pointer;
}

.api-edit-wrapper label {
  font-family: var(--bs-font-sans-serif) !important;
  font-size: 16px!important;
  font-style: normal!important;
  color: var(--bs-gray-700);
  font-weight: 500!important;
}

.inline-edit {
  font-weight: 700!important;
  cursor: pointer;
}

.api-edit-wrapper input[type=submit] {
  color: #F00!important;
  font-weight: bold!important;
}
.api-edit-wrapper input[type=button] {
  color: #0F0!important;
  font-weight: bold!important;
}

.inline {
  display: inline!important;
}

h4 {
  text-align: left;
}

/* for the full example */
label {
  margin-right: 5px!important;
}
